.messages {
  max-height: calc(100vh - 54px - 55px);
  min-height: calc(100vh - 54px - 55px);
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  /* Скрываем scrollbar для IE, Edge и Firefox */

  -ms-overflow-style: none; /* IE и Edge */
  scrollbar-width: none; /* Firefox */

  &-list {
    height: fit-content;
    min-height: 100%;
    padding: 30px 20px 30px 22px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 24px;
  }
}
