<div class='messages'>
  <div class='messages-list'>
    {{{Message
      type='incoming'
      text='Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit officiis laboriosam repellendus, at nobis, praesentium adipisci ea voluptates, quos totam et voluptatibus veniam inventore dolore unde itaque provident cum facere eligendi ducimus voluptatem animi! Numquam?'
    }}}
    {{{Message type='incoming' image=true}}}
    {{{Message type='outgoing' text='Lorem'}}}
    {{{Message type='outgoing' image=true}}}
  </div>
</div>