<div class="content-wrapper">
  {{#> AuthForm title='Sign in' label='Sign up' description='Don\'t have an account?' otherPage='register' }}
    {{{ InputField label="Login" error='error' error_message='Неверный логин' value='kheda' name='login' }}}
    {{{ InputField label="Password" value='' name='password' }}}
    {{{ Button label='Sign in' type='green' page='chat' onClick=onLogin }}}
  {{/AuthForm}}
</div>
