<div class="login">
  <div class='content-wrapper'>
  {{#> AuthForm title='Sign in' label='Sign up' description='Don\'t have an account?' buttonClick=toRegister }}
    {{{InputField
      ref='login'
      type='text'
      label='Login'
      name='login'
      validate=validate.login
    }}}
    {{{InputField
      ref='password'
      type='password'
      label='Password'
      name='password'
      validate=validate.password
    }}}
    {{{Button label='Sign in' classes='button button__green' onClick=onLogin}}}
  {{/AuthForm}}
</div>
</div>