<div class="chat-block">
  {{#if true}}
    <div class="chat-block__wrap">
      {{> ChatHeader }}
      {{> Messages }}
      {{> ChatInput }}
    </>
  {{else}}
    <div class="chat-block__empty">
      <p>Выберите чат чтобы отправить сообщение</p>
    </div>
  {{/if}}
</div>
