<div class='chat-block'>
  {{#if openDialogChat}}
    <div class='chat-block__wrap'>
      {{{ChatHeader title=openDialogChat.title avatar=openDialogChat.avatar}}}
      {{{Messages}}}
      {{{ChatInput}}}
    </div>
  {{else}}
    <div class='chat-block__empty'>
      <p>Выберите чат чтобы отправить сообщение</p>
    </div>
  {{/if}}
</div>
