<div class="form-wrapper">
  <div class="left-block">
    <h2>{{title}}</h2>
    <form action="">
      {{> @partial-block }}
    </form>
  </div>
  <div class="right-block">
    <h3>Hello my Friend!</h3>
    <p>{{description}}</p>
    {{> Button label=label type="light" page=otherPage }}
  </div>
</div>
