<div class="content-wrapper">
  {{#> AuthForm title='Sign up' label='Sign in' description='Do you have an account?' otherPage='login'}}
    {{> Input label="Email" }}
    {{> Input label="Login" }}
    {{> Input label="Name" }}
    {{> Input label="Surname" }}
    {{> Input label="Phone" }}
    {{> Input label="Password" value='' }}
    {{> Input label="Repassword" value='' }}
    {{> Button label='Sign up' type='green' page='chat'}}
  {{/AuthForm}}
</div>
