.chat-item {
  border-radius: 15px;
  background-color: $green-level-one;
  padding: 10px;
  display: flex;
  gap: 15px;
  cursor: pointer;
  position: relative;

  &:hover {
    background-color: $green-level-two;
  }

  &__active {
    background-color: $green-level-three;
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;

    &--name {
      font-size: 13px;
      font-weight: 600;
    }

    &--message {
      color: $gray-color;
      font-size: 10px;
      font-weight: 500;
    }
  }

  .time {
    color: $gray-color;
    font-size: 9px;
    font-weight: 500;
    position: absolute;
    top: 6px;
    right: 10px;
  }
}
