<div class="chat-item {{#if active}}chat-item__active{{/if}}">
  {{> UserIcon }}
  <div class="chat-item__description">
    <p class="chat-item__description--name">{{name}}</p>
    <p class="chat-item__description--message">{{message}}</p>
  </div>
  <span class="time">{{time}}</span>
</div>
