.button {
  display: block;
  font-size: 13px;
  color: $white-color;
  border-radius: 35px;
  padding: 10px 26px;
  width: 100%;
  cursor: pointer;
  transition: 0.3s all ease;

  &:hover {
    opacity: 0.5;
  }

  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &__light {
    background-color: transparent;
    border: 1px solid $white-color;
  }

  &__green {
    background-color: $dark-green;
    border: none;
  }
}
