{{#> DataLayout}}
  <div class='user-data__form change-password'>
    <h1>Change password</h1>
    <form action=''>
      {{{InputField
        ref='oldPassword'
        type='password'
        label='Old Password'
        name='oldPassword'
        validate=validate.oldPassword
      }}}
      {{{InputField
        ref='newPassword'
        type='password'
        label='New Password'
        name='newPassword'
        validate=validate.newPassword
      }}}
      {{{Button label='Save' classes='button button__green' onClick=onSave}}}
    </form>
  </div>
{{/DataLayout}}