{{#> DataLayout}}
  <div class="user-data__form change-password">
    <h1>Change password</h1>
    <form action="">
      {{{ Input label='Old password' name='oldPassword'}}}
      {{{ Input label='New password' name='newPassword'}}}
      {{{ Button label='Save' type='green'}}}
    </form>
  </div>
{{/DataLayout}}
