<form class='chat-input'>
  <span class='chat-input__addfile'>
    <input id='chat-input__file' type='file' name='message' />
    <label for='chat-input__file'>
      <img src='./svg/clip-icon.svg' alt='add-file' />
    </label>
  </span>
  {{{ChatInputField
    ref='message'
    name='message'
    placeholder='Message'
    validate=validate.message
  }}}
  {{{ChatInputButton onClick=send}}}
</form>
