<div class="chat-input">
  <span class="chat-input__addfile">
    <input id="chat-input__file" type="file" />
    <label for="chat-input__file">
      <img src="/src/assets/svg/clip-icon.svg" alt="add-file" />
    </label>
  </span>
  <div class="chat-input__message">
    <input type="text" placeholder="Message" />
  </div>
  <div class="chat-input__send">
    <img src="/src/assets/svg/send-icon.svg" alt="send-message" />
  </div>
</div>