.chat {
  position: relative;
  .left-content {
    min-width: 310px;
    transition: all 0.3s ease;
  }
  .right-content {
    padding: 0;
  }

  @media (max-width: 960px) {
    .left-content {
      min-width: 260px;
    }

    .right-content {
      .message {
        .user-icon {
          width: 24px;
          height: 24px;
        }
        &-block__image {
          width: 70%;
        }

        &-block__text {
          max-width: 70%;
        }
      }
    }
  }

  @media (max-width: 580px) {
    .left-content,
    .right-content {
      position: absolute;
    }

    .left-content {
      width: 100%;
    }
  }
}
