<div class='layout profile'>
  <div class='left-content'>
    <button page='chat'>
      <img page='chat' src='./svg/back-icon.svg' alt='back' />
    </button>
  </div>
  <div class='right-content right-content__mg'>
    {{{UserData}}}
  </div>
</div>
