<div class="chat-header">
  <div class="chat-header__description">
    {{> UserIcon}}
    <p>Мата</p>
  </div>
  <div class="chat-header__settings">
      <img src="src/assets/svg/settings-icon.svg" alt="">
  </div>
</div>
