// variables
$font-family: "Inter", sans-serif;
$black-color: #000;
$white-color: #fff;
$dark-color: #393939;
$gray-color: #999;
$green-level-one: #f3f9fa;
$green-level-two: #e1eef2;
$green-level-three: #c4dfe6;
$green-color: #66A5AD;
$dark-green: #07575b;
$red-color: #ce5a57;
$orange-color: #e1b16a;

// common document styles
* {
  box-sizing: border-box;
  font-family: $font-family;
}

body {
  margin: 0;
  color: $dark-color;
}

ul,
ol {
  list-style: none;
  margin: 0;
}

a {
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;

  @media (width <= 760px) {
    padding: 24px;
  }
}
