.input {
  padding: 10px;

  &__container {
    display: flex;
    height: 38px;
    flex-direction: column;
    align-content: flex-end;
  }

  &__label {
    transform: translateY(-21px);
    color: $gray-color;
    font-size: 13px;
    font-weight: 500;
    user-select: none;
    transition:
      font-size 0.3s,
      transform 0.3s;
  }

  &__element {
    border: none;
    padding: 0%;
    border-bottom: 1px solid rgba($dark-green, 0.2);
    font-size: 13px;
    font-weight: 500;
    color: $dark-color;
    padding-bottom: 4px;
  }

  &__element:focus-visible {
    outline: none;
    border-bottom: 1px solid $dark-green;
  }

  &__text-error {
    transform: translateY(-7px);
    color: $red-color;
    font-size: 8px;
    font-weight: 400;
  }

  &__element:not(:placeholder-shown) + &__label,
  &__element:focus + &__label {
    transform: translateY(-36px);
    font-size: 9px;
  }

  &__error &__element {
    color: $red-color;
  }
}
