<div class='input'>
  <label class='input__container'>
    {{{Input
      name=name
      type=type
      value=value
      ref='input'
      placeholder=''
      classes='input__element'
      onChange=onChange
    }}}
    <div class='input__label'>{{label}}</div>
    {{{ErrorLine error_message=error_message ref='errorLine'}}}
  </label>
</div>