<div class='chats'>
  <div class='chats-header'>
    <button class='chats-header__button' page='profile'>Profile</button>
  </div>
  {{{Search}}}
  <div class='chats-items'>
    {{#each chats}}
      {{{ChatItem name=this.name message=this.message time=this.time}}}
    {{/each}}
  </div>
</div>