<div class='create-chat'>
  {{{ChatInputField
    ref='chatName'
    name='chat_name'
    placeholder='Chat name'
    validate=validate.message
  }}}
  {{{Button label='Create' classes='modal-button' onClick=onClick}}}
</div>