.search {
  padding: 10px;

  button {
    display: none;
  }
  &__container {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__label {
    position: absolute;
    color: $gray-color;
    font-size: 13px;
    font-weight: 500;
    user-select: none;
    height: 32px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    transition: all 0.3s;

    span {
      width: 82px;
      transition: width 0.3s;
    }
  }

  &__element {
    border: 1px solid $green-level-three;
    padding: 8px 8px 8px 34px;
    font-size: 12px;
    font-weight: 500;
    color: $dark-color;
    outline: none;
    border-radius: 15px;
  }

  &__element:focus-visible {
    border: 1px solid $dark-green;
  }

  &__element:not(:placeholder-shown) + &__label,
  &__element:focus + &__label {
    width: 34px;
    padding-left: 6px;

    span {
      visibility: hidden;
      width: 0;
    }
  }
}
