<div class="search">
  <label class="search__container">
    <input class="search__element" placeholder="" value="{{value}}" />
    <div class="search__label">
      <img src="/src/assets/svg/search-icon.svg" alt="search" />
      <span>Search</span>
    </div>
  </label>
</div>