<form class='search'>
  <label class='search__container'>
    {{{Input
      name='search'
      type='text'
      value=value
      ref='search'
      placeholder=''
      classes='search__element'
      onChange=onChange
    }}}
    <div class='search__label'>
      <img src='./svg/search-icon.svg' alt='search' />
      <span>Chat search</span>
    </div>
  </label>
  {{{Button onClick=onChange}}}
</form>