<div class='chat-input__message'>
  {{{Input
    name=name
    type='text'
    value=value
    ref='message'
    placeholder=placeholder
    classes=''
    onBlur=onBlur
    onChange=onChange
  }}}
</div>