<div class='chat-input__message'>
  {{{Input
    name='message'
    type='text'
    value=value
    ref='message'
    placeholder='Message'
    classes=''
    onBlur=onBlur
    onChange=onChange
  }}}
</div>