<div class="layout profile">
  <div class="left-content">
    <button page="profile">
      <img page="profile" src="./svg/back-icon.svg" alt="back" />
    </button>
  </div>
  <div class="right-content">
    {{> PasswordChange}}
  </div>
</div>
